template(x-if='$data.headings.length > 0')
  section#TOC(
    class='rounded-md mb-8 box-border text-h-500 dark:bg-h-700 dark:text-h-200 border border-h-blue shadow-lg shadow-blue-500/50 overflow-hidden')
    div(class='toc-header flex items-center text-overflow-hidden text-sm border-b border-solid border-h-blue dark:border-h-200 p-3.5')
      i(class='fa-list fa-solid')
      span(class='text-base leading-[1.2rem] ml-3') 목차
    div(class='toc-body')
      ol(class='toc-list flex flex-col gap-y-3 p-5')
        template(x-for='heading in $data.headings' :key='heading.id')
          li(:class='{ "pl-0": heading.tagName === "H2", "pl-5": heading.tagName === "H3", "pl-10": heading.tagName === "H4" }' :data-tag='{"H2": 0, "H3": 1, "H4": 2}[heading.tagName]')
            a(
              :href='heading.href'
              class='flex items-center justify-between text-sm duration-200 text-h-400 hover:text-h-600 dark:hover:text-h-200')
              div(
                x-text='heading.text'
                class='text-overflow-hidden')
              i(class='fas fa-arrow-right scale-75')
