/* reset CSS */
.custom {
  padding: 5px;
  border: 1px solid;
}
.custom table {
  border: 1px solid black;
  border-collapse: initial;
}
.custom table th {
  text-align: center;
}
.custom table th,
.custom table td {
  border: 1px solid;
}
